#chat-room{
  width:800px;
  height:500px;
  margin-left:100px;
  background-color: #eeeeee;
}

ul.message-list{
  list-style: none;
  padding:20px;

  //TODO missing styles here
}


footer{
  width:800px;
  margin-left:100px;
  margin-bottom: 50px;
}
