<h1>Task3:</h1>

<h4>This task is about routing and simple validation</h4>

<ul>
  <li>Create a simple login page for this web app</li>
  <li>It should be mapped to base url and be displayed as first page when the app starts</li>
  <li>The user can login with fake username and password 'admin' & 'admin'</li>
  <li>Minimum field validations('Required Field', 'User not exist' and 'Wrong Password')</li>
</ul>

<h4>Target preview:</h4>
<div class="preview-area">
  <img class="square-400" [src]="target_1">
  <img class="square-400" [src]="target_2">
</div>
